body{text-align: center;
background-image: url("GrayBG.jpg");
background-repeat: repeat;
background-position: center;
background-size: cover;
height: 100%;
color: white;
}

a{
color: white;
}

a:hover{
color: white;
background-color: blue;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
display: none;
}

.invform{width: 25%;
margin-left: 35%;
background-color: #666699;
box-shadow: 3px 3px black;
border: 2px solid;
border-color: #b3b3b3;
border-radius: 25px;
}

.invform{margin-top: 90px;
}