<?php
    require_once ("dbConnection.php");
?>
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/722c5ad8e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CashRegIframe.css">
    <title>Cash Register Table</title>
</head>
<body>
    <table class="table table-bordered table-dark table-hover">
        <thead>
            <tr>
                <td>Product Code</td>
                <td>Item Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td></td>
            </tr>
        </thead>
    </table>
    <table class="table table-bordered table-dark table-hover">
        <thead>
            <tr>
                <td>Total</td>
                <td>Cash</td>
                <td>Change</td>
                <td>Date and Time</td>
            </tr>
        </thead>
    </table>
</body>