<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/722c5ad8e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Inventory 4.css">
    <title>Inventory</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <ul class="navbar-nav">
            <li class="navbar-brand">
                <img src = "Yoshikage Kira.png" alt="Logo" width="50px;">
            </li>
            <li class="navbar-brand">
                Inventory and Cash Register
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Cash Register 3.html">Cash Register</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="Log-in 1.html">Log Out</a>
            </li>
        </ul>
    </nav>
    <div class="container p-2">
        <div class="row justify-content-center">
            <table class="table table-bordered text-white">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Product Code</th>
                        <th>Stocks</th>
                        <th>Price</th>
                    </tr>
                </thead>
            </table>
            <textarea style="resize: none" rows="30" cols="205" disabled></textarea>
        </div>
    </div>
    <div class="container-fluid">
        <button class="btn btn-dark" type="submit">Delete Item</button>
        <a href="Add Inventory 5.html"><button class="btn btn-dark" type="submit">Add Item</button></a>
    </div>
</body>
</html>